################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Excersise_1-copy/FileContentIndex/76da3bc2-8812-447a-bc35-682f32a8dfa9.vsidx
/.vs/Excersise_1-copy/FileContentIndex/8b08df4f-feea-4f74-8eb5-65217f12a29e.vsidx
*.vsidx
