################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Excersise_1/FileContentIndex/d8c956ea-9602-4e1c-882c-e9b27bace86e.vsidx
/.vs/Excersise_1/FileContentIndex/0cb801c1-3743-42cd-b63e-bb5922ed714e.vsidx
